<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcw.partner.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Message">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fromId" column="fromId" jdbcType="BIGINT"/>
            <result property="toId" column="toId" jdbcType="BIGINT"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="messageType" column="messageType" jdbcType="TINYINT"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="isRead" column="isRead" jdbcType="INTEGER"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,fromId,toId,
        text,messageType,date,
        isRead,isDelete
    </sql>
</mapper>
